<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMS by CPH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Student Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Course", "Index", "Course", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Batch", "Index", "Batch", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Registration", "Index", "Registration", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("User", "Index", "User", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (Session["UserID"] != null)
                    {
                        <li class="nav-item">
                            <span class="nav-link text-white">Hello! @Session["UserName"]</span>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.Partial("_LoginPartial")
                        </li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    <div class="container flex-grow-1">
        @RenderBody()
    </div>

    <footer class="mt-auto bg-light text-black py-3">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Student Management System by Chen Pyng Haw
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
